@using QuickRMS.Site.Models.AdminCommon
@model BreadCrumbNavModel
<div id="content-header">
    <div id="breadcrumb">

        @foreach (var item in Model.BreadCrumbList)
        {
            if (item.IsIndex)
            {
            <a href="@Url.Action("Index", "Home", new { Area = "Common" })" title="@item.Name"><i class="@item.Icon"></i>@item.Name</a>
            }
            else
            {
                if (Model.BreadCrumbList.Count > 1)
                {
                    if (item.IsParent)
                    {
            <a href="javascript:void(0)" title="@item.Name"><i class="@item.Icon"></i>@item.Name</a>
                    }
                    else
                    {
            <a class="current" href="javascript:void(0)">@item.Name</a>
                    }
                }
            }
        }
    </div>
    <h1>
        @Model.CurrentName
    </h1>
</div>
