<!DOCTYPE html>
<html lang="zh">
<head>
    @*通用模板，用来引用js和css文件（也就是除了frame中的界面之外的小部分界面用到），
    如果某页面用到的的js这里没有，那么它得自己引用，或者用另外的模板（frame中的界面就不用了另外的模板）*@
    <title>QuickDDD</title>
    <meta name="viewport" content="width=device-width" />
     <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
     @Styles.Render("~/Content/css")
     @Styles.Render("~/Content/themes/gray/css")
     @Scripts.Render("~/bundles/home")
</head>

        @RenderBody()

</html>
