@{
    //BreadCrumbNavModel breadCrumbNavData = ViewBag.BreadCrumbModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
   @* @Styles.Render("~/bundles/css/bootstrap2")
    @RenderSection("css", false)   
    @Styles.Render("~/bundles/css/admin")   *@ 

     <link href="/Content/admin/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/Content/admin/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/Content/admin/css/uniform.css" rel="stylesheet"/>
<link href="/Content/admin/css/select2.css" rel="stylesheet"/>
<link href="/Content/admin/css/matrix-style.css" rel="stylesheet"/>
<link href="/Content/admin/css/matrix-media.css" rel="stylesheet"/>
<link href="/Content/admin/css/font.css" rel="stylesheet"/>
<link href="/Content/admin/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>

    <!--Header-Part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--Header-Part-->

    <!--main-container-part-->
    <div id="content">

         <!--BreadCrumbs-->
       
        <!--BreadCrumbs-->
        <!--Body-->
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!--Body-->
    </div>
    <!--end-main-container-part-->
    
    <!--Footer-part-->
    @Html.Partial("_Footer") 
    <!--end-Footer-part-->
  @*  @Scripts.Render("~/bundles/js/admin-jq")
    @Scripts.Render("~/bundles/js/bootstrap2") 
    @Scripts.Render("~/bundles/js/jqdataTables") 
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js/admin-plugin")*@
      
       <script src="/Content/admin/js/jquery.min.js"></script>

    <script src="/Content/admin/js/bootstrap.min.js"></script>
<script src="/Content/admin/js/bootbox.min.js"></script>
 
    <script src="/Content/admin/js/jquery.dataTables.min.js"></script>
<script src="/Content/admin/js/jquery.dataTables.AjaxSource.min.js"></script>
 
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="/Content/admin/js/select2.min.js"></script>

    <script src="~/Content/admin/js/matrix.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
